<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    		<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
        <%= link_to image_tag('logo.png'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-btn pull-right">
        <li><a href="#"><strong><small>ABOUT</small></strong></a></li>
        <li><a href="#"><strong><small>PRICING</small></strong></a></li>
        <li><a href="#"><strong><small>ENTERPRISE</small></strong></a></li>
        <li><a href="#"><strong><small>APPLICATION</small></strong></a></li>
      </ul>
    </div>
  </div>
</div>