// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 67px;
}

#featured-job {
  background: url("/images/nh-hero-splash.jpg") 0 0 repeat;
}

#footer-bg {
  border-top: 2px solid; 
  border-top-color: #357ebd;
  position: relative;
  width: 100%;
  padding-top: 20px;
  background: #171717 0 0 repeat;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

footer {
  padding-top: 5px;
}

.foot {
  border-color: #357ebd;
}

.span-left {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 355px
}

.span-mid {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 355px;
}

.span-right {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 355px;
}

#company {
  background: #eee url("/images/partner-bg.png") 0 0 no-repeat;
}

.company {
  padding-bottom: 10px;
}

.company img {
  height: 90px;
  width: 180px;
  display: inline-block;
}

.center {
   margin: 5px auto;
   text-align: center;
}

#featured-job h1 {
  color: #E67E22;
  font-weight: 700;
}

#featured-job h3 {
  color: #fff;
}

#featured-job p {
  color: #fff;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.carousel-caption {
  position: absolute;
  padding-bottom: 110px;
  right: 10%;
  left: 10%;
}

.carousel-caption h1 {
  font-size: 80px;
  font-weight: 600;
}

.carousel-caption h2 {
  font-size: 40px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 40px;
  }
}